<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs2340.gatech.edu.rat_tracker">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.LoginScreen"
            android:parentActivityName=".controllers.StartScreen" />
        <activity
            android:name=".controllers.RegistrationScreen"
            android:parentActivityName=".controllers.StartScreen" />
        <activity
            android:name=".controllers.RataData"
            android:parentActivityName=".controllers.ViewRatsScreen"
            />
        <activity android:name=".controllers.WelcomeScreen" />
        <activity android:name=".controllers.ViewRatsScreen"
            android:parentActivityName=".controllers.WelcomeScreen"/>
        <activity android:name=".controllers.RatDetails"
            android:parentActivityName=".controllers.RataData"/>
        <activity android:name=".controllers.ReportSightingScreen"
            android:parentActivityName=".controllers.WelcomeScreen"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".controllers.MapScreen"
            android:label="Sighting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>